{% extends "polls_base.html" %}

{% block content %}
        <form action="" method="post">
            {{__('If you already have a license, please enter it below to activate YOP Poll Pro:')}}<br><br>
            <input type = "hidden" name = "action" value = "validate_licence">
            {{ wp_nonce_field('yop-poll-before-buy')|raw }}
            <input type="text" name="licence">
            <input type = "submit" nameadd_poll = "check_licence" class = "button-primary" value = "Activate">
        </form>
        <br>
    <form action = "" method = "post">
        {{__('If you don\'\t have a license, you get get one for ')}} <b>{{__('only $17')}}</b>
        <input type = "hidden" name = "action" value = "do-buy">
        {{ wp_nonce_field('yop-poll-before-buy')|raw }}
        <input type = "submit" name = "do_buy" class = "button-primary" value = "Get License">
    </form>
{% endblock content %}