{% extends "polls_base.html" %}

{% block content %}
        <form action="" method="post">
            {{__('If you already have a license, please enter it below to activate YOP Poll Pro')}}
            <input type = "hidden" name = "action" value = "validate_licence">
            {{ wp_nonce_field('yop-poll-before-buy')|raw }}
            <br /><br />
            <input type="text" name="licence">
            <input type = "submit" nameadd_poll = "check_licence" class = "button-primary" value = "Activate">
        </form>
        <br />
    <form action = "" method = "post">
        {{__('If you don\'\t have a license, you get one below')}}
        <input type = "hidden" name = "action" value = "do-buy">
        {{ wp_nonce_field('yop-poll-before-buy')|raw }}
        <br /><br />
        <input type = "submit" name = "do_buy" class = "button-primary" value = "Upgrade to Pro for only $17">
    </form>
{% endblock content %}